@CHARSET "UTF-8";
div{
	overflow: hidden;
}
body{
	background-image: url("wallpaper/4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	margin: 0px;
	padding-top: 75px;
	padding-left: 30px;
	padding-right: 30px;
}
#box{
	position: relative;
	top: 20px;
	border-radius: 5px;
	padding-right: 20px;
	padding-top: 15px;
	padding-left:20px;
	padding-bottom: 15px;
	border: 2px solid #FF7F50;
	float: right;
	box-shadow: 5px 5px 5px #FF7F50;
}
#all{	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	border-radius: 10px;
	margin-left: 150px;
	margin-right:150px;
}
#wrapper{
	position: relative;
	padding-right: 50px;
	float: right;
	padding-top: 50px;
}
#header{
	position: relative;
	padding: 0px;
	box-shadow: 0px 10px 5px #FF7F50;
	background-color: white;
}
#search{
	float: left;
	padding-top: 40px;
	padding-left: 10px;
}
#auth{
	position: relative;
	padding-top: 0px;
	font-size: 15px;
	float: right;
	text-align: right;
}
#rightHeader{
	position: relative;
	height: 120px;
	width: auto;
	float: right;
}
#rightHeader div{
	float: right;
	display: block;
	padding: 20px;
}
#auth form{
	display: inline;
	padding: 10px;
}
#loginform{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	padding-bottom: 500px;
}
#loginform li{
	display: block;
	padding: 10px;
}
#shopCart{
	position: inline;
	padding-top: 20px;
	font-size: 10px;
	padding-left: 0px;
	float: right;
}
#headerLogo{
	float: left;
}
#headerLogo img{
	height: 120px;
	width: auto;
}
#shopCart img{
	width: 5%;
	height: auto;
	padding-right: 15px;
}
#all form{
	padding: 30px;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li{
	padding: 1px;
	display: inline;
}

td{
	background-color: #77ff77;
	padding: 5px;
	margin: 10px;
	overflow: hidden;
}
.logocol {
	width: 50px;
	padding:0px;
}
th{
	background-color: #ff8080;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	paffing-left: 0px;
	padding-right: 0px;
	margin: 0px;
}
table img{
	display: block;
}
#totalSum{
	background-color: #ff8080;
}
#listbody{
	margin-top: 20px;
	margin-bottom: 20px;
}
#sortForm{
	float: left;
	line-height: 10px;
    background-color: rgba(255,255,255,0.5);
    width: 200px;
    font-size: 13px;
}
#sortForm p{
	color: red;
	font-style: bold;
}
.shoppingList{
	padding-left: 50px;
	padding-top: 50px;
}
#button{
	float:right;
	padding: 30px;
}
#button form{
	display: inline;
}
#listbody{
	position: relative;
	float: right;
}
.date div.form-item{
	display: inline;
}
.date div{
	display: inline;
}
.form-item label {
    font-size: 100%;
}
.element-invisible{
	position: absolute !important;
	clip: rect(1px,1px,1px,1px);
	overflow: hidden;
	height: 1px;
}
input {
	padding: 5px;
}
select {
	padding: 7px;
}
table {
	table-layout: fixed;
	width: 800px;
}
#main{
	text-decoration: none;
	font-weight: bold; 
	padding-bottom: 0px;
	clear: both;
	text-align: right;
	float: right;
	width: auto;
	background-color: #ff8080;
	display: inline;
	margin: 5px;
	margin-right:0px;
	border-radius: 10px;
}
#footer{
	position: relative;
	background-color: #ff8080;
	padding-bottom: 0px;
	width: 100%;
}
#footer p{
	text-align: center;
	opacity: 0.5;
	padding: 10px;
}
#contact {
	padding: 30px;
}
#contact h3{
	text-decoration:underline;
	font-style: italic; 
}
a:link { 
	color: #000000; 
	text-decoration: none
}
a:visited{
	color: #000000;
}
#admin a:visited{
	color: yellow;
}
#help{
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 80px;
	margin-left: 150px;
	margin-right:150px;
	border-radius: 10px;
}
#help p{
	padding: 5px;
	font-size: 15px;
}
#back img{
	width: 15%;
	padding: 30px;
	float: right;
	transform: rotate(+25deg);
	opacity: 0.7;
}
#orderhistory, #cart{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	margin-bottom: 500px;
}
#adminpage{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	margin-bottom: 500px;
}
#adminpage li{
	display: block;
	padding: 10px;
}
#fullorder, #order{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	margin-bottom: 500px;
}
#adminproductlist{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	margin-bottom: 300px;
}
#adminprod{
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 200px;
	margin-bottom: 300px;
}
#profil{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 200px;
	margin-bottom: 300px;